/* Common CSS */
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
body{
    margin: 0;
    padding: 0;
}
a:hover{
    color: rgba(0, 0, 255, 0.363);

}
.section{
    max-width:1140px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}

p{
 font-size: 18px;
 color: #00000075;  
}
h2{
    font-size: 38px;
    
}
.text-center{
    text-align: center;
}
.orange-text{
    color:#E95A08;
}
/* Navbar Section */
.navbar{
    display: flex;
    justify-content: space-between;
}
header nav li{
    list-style: none;

}
nav ul{
    display: flex;
    gap: 48px;
}
nav ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.685);
}
/* Hero Content Section */
.hero{
    display: flex;
    align-items: flex-end;
}
.hero-content h1{
    font-size: 44px;
    font-weight: bold;
}

/* Card Section */
.plants-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.card-content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.card-btn{
    color: white;
    background-color: #E95A08;
    width: 100%;
    padding: 15px;
    border: none;
}
/* Plant Lover Section Start  */
.plant-lover-section{
    display: flex;
    align-items: center;
    gap: 60px;
    
}

main ul li::marker{
       color:rgba(0, 0, 0, 0.5)
    }


#badge{
    width: 286px;
    height: 286px;
    position: relative;
    right: -350px;
    bottom: -150px;
}

/* Latest Deal Section */
.latest-deal{
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:16px;
}
.small-cards{
    display: flex;
    flex-direction: column;
    gap:16px;
}


.big h3{
    font-size: 2.5rem;
}
.deal-card{
    background-size: cover;
    background-position: center;
    filter: grayscale(40%);
    color: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    height: 147px;

}
.deal-card h4{
    text-decoration: underline ;
}
.big{
    background-image: url(images/deal-zabo.png);
    height: 350px;
}

/* Subscription Section Start */
.subcription{
    max-width:1440px;
    width:100%;
    margin: 0 auto;
    background-image: url(images/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    text-align: center;
    color: white;
    margin-top:20px;

}
.subcription h1{
        font-size: 40px;
}
input[type="email"] {
    padding: 10px;
    width: 350px;
    border:none;
}
.subcription button{
    padding:10px 20px;
    background-color: #E95A08;
    color:white;
    border: none;
    cursor: pointer;
}

/* Footer Section Start */

.end{
  display: flex;
  justify-content: center;
   padding:30px 50px;
   gap:20px;
}
.content{
    width:360px;
}

.home ul{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    column-gap: 25px;
    list-style: none;
}
.home a{
    text-decoration: none;
}
.link img{
    margin-right: 20px;
}


/* Responsive Start */
 @media screen and (max-width:400px){
    body{
        margin:0;
        padding:0 ;
    }
    .navbar{
        max-width: 367px;
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }
    .hidden{
        display:none;
    }
    .responsive-width{
        max-width: 361px;
        width: 100%;
        margin: 20px auto;
    }
    .hero{
        display: flex;
        flex-direction: column-reverse;
      
    }
   
    .section{
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
    }
    .hero-img img{
          max-width: 400px;
          width: 100%;
          height: auto;
          margin-left: 13px;
    }
    .plants-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;  
    }
    .card img{
        width: 100%;
        margin: 0 auto;
    }
    .plant-lover-section{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
       
    }
    .plant-lover-section img{
       
        width: 100%;
        margin: 0 auto;
        
    }
    #badge{
        display: none;
    }

    .subcription{
        
        max-width:400px;
        width:100%;
        padding:100px 0px 100px 0;
        
        
    }
   
    .subcription h1{
           font-size:1.4em;
        }
    .subcription form{
        width: 312px;
        display: flex;
        padding-left: 30px;
    }

    .end{
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .home ul{
        display:grid;
        grid-template-columns:repeat(1,1fr);
    }
    .content{
    width:300px;
}

     .latest-deal{
        display: flex;
        flex-direction: column;
     } 
     .big h3{
        font-size: 1.2em;
     }
     .deal-card{
        height: 175px;
     }
     .big{
        height: 170px;
     }
    


 }
